.container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}

.hideInput{
    border: none;
    opacity: 0.5;
    position: absolute;
    padding: 0px 0px;
    height: 40px;
    align-self: stretch;
}

.timeDisplay{
    margin: 0px 0px 0px 0px;
    color: #999999;
    
}

.fakeCursor{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    display: inline;

}
