.parentTimer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
}

.content {
    align-items: center;
    width: 210px;
    height: 60px;
    border: 0px; 
    display: flex;
    flex-direction: row;
    padding-top: 50px
  }

.button {
    flex: 1;
    height: 50px;
    background-color: rgb(52, 52, 52, 0);
    border: none;
    z-index: 51;
    transition-duration: 0.4s;
    border-radius:8px;
    outline: none;
}

.item {
  flex: 1;
  /* align-items: stretch; */
  border: none;
  z-index: 50;
  border-radius:8px;
  justify-content : center;
  align-content: center;
}

.countdown {
    position : absolute;
    flex: 0;
    text-overflow:ellipsis;
    z-index: 50;
    text-align: center;
    margin: 10px 5px 10px 0px;
}

.button:hover {
    background-color:rgb(52, 52, 52, 0.1); /* Green */
    /* color: white; */
  }