.add-time-button > span {
  display: none;
  color: rgb(228, 212, 212);
  font-size: 4vw;
}


.add-time-button {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1051;
  transition-duration: 0.4s;
  border-radius: 8px;
  outline: none;
  height: 100%;
  place-self: stretch;
  cursor: pointer;
}

.countdown {
  position: absolute;
  flex: 0;
  text-overflow: ellipsis;
  z-index: 50;
  text-align: center;
  margin: 10px 5px 10px 0px;
}


.add-time-button:hover span {
  display: block;
}

@keyframes plus {
  0%,
  17.5% {
    font-size: 0;
  }
}

// .add-span {
//   will-change: font-size;
//   animation: plus 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
//   color: #d0ffca;
// }

