.generic {
  display: grid;
  grid-area: main;
  place-self: stretch;
}

.GridLayout {
  display: grid;
  grid-template-columns: [vstart] 15% [v1] auto [v2] 15%[vend];
  grid-template-rows: [hstart] 20% [h1] auto [h2] 20% [hend];
  grid-template-areas:
    "corner1 top corner2"
    "left main right"
    "corner3 bottom corner4";
  width: 100vw;
  height: 100vh;
}

/*Main grid layout*/
.MainLayout {
  /*display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "main1"
  "main2"
  "main3";
  place-self: stretch;*/
  grid-area: main;
}

/*home page layout*/
.main {
  display: grid;
  grid-area: main;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "main1"
    "main2"
    "main3";
}

.WorkInput {
  grid-area: main1;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.BreakInput {
  grid-area: main2;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.startBttn {
  grid-area: main3;
  text-align: center;
  align-self: center;
  justify-self: center;
}

/*---------------------*/

/*.block {
  display:grid;
  grid-area: left;
} 

input[type="radio"]{
  position:absolute;
  right:1000%;
}

.animation_lab{

  width:15%; padding-bottom:15%;
  margin:0 2.5%;
  background:rgba(247, 46, 46, 0.2);
  border-radius:50%;
  cursor:pointer;
}*/

/*Countdown Display*/
.CountdownWrapper {
  display: grid;
  grid-area: main;
  place-self: stretch;

  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "main1"
    "main2";
}

.pauseBttn {
  grid-area: main2;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.countdownDisplay {
  grid-area: main1;
  text-align: center;
  align-self: center;
  justify-self: center;
}
/*---------------------*/

/*Settings*/
.Settings {
  /*grid-row-start: 1;     This part is unnecessary because it actually has no
  grid-row-end: 3;         effect on the layout. There are also no lines named 1 and 3
  grid-column-start: 3;    cuz I custome named them in GridLayout ;-;
  grid-column-end: 3;*/
  display: grid;
  grid-area: corner2;
  place-self: stretch;
}
/*---------------------*/

/* Animation*/
.AnimationController {
  display: grid;
  grid-area: left;
  align-self: center;
}

/*.animation{
  display: grid;
  z-index: -10000;
  grid-column: vstart / vend;
  grid-row: hstart/ hend;
}*/
/*---------------------*/

/*prompt*/
.intermission {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-area: main;

  position: fixed;
  overflow: hidden;

  left: 0;

  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "prompt"
    "cat";
}

.prompt {
  grid-area: prompt;

  margin-top: 5vw;

  text-align: center;
  align-self: center;
  justify-self: center;
}

.promptText {
  font-size: 4vw;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
}

.cat {
  grid-area: cat;
  text-align: center;
  align-self: start;
  justify-self: center;
  object-fit: contain;
  width: 40vw;
  height: 40vh;
  margin-bottom: 20vh;

  object-fit: contain;
}
/*---------------------*/

.catGif {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.full_cat {
  display: relative;
  left: 10vw;
}
.fullcatGif {
  object-fit: contain;
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
}
.home-btn-con {
  display: grid;
  grid-area: corner1;
  place-self: stretch;

  /*z-index: 1000001;*/
}

.home-btn {
  /*display: absolute;*/
  border: none;

  width: 7vmin;
  height: 6.3vmin;
  /*top: 2vw;*/
  /*left: 2.5vmin;*/
  cursor: pointer;

  margin-top: 2vw;
  margin-left: 2.5vmin;

  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(./components/animation/assets/normal.png);
  background-size: contain;
}

.home-btn:hover {
  background-image: url(./components/animation/assets/hover.png);
  width: 7vmin;
  height: 6.3vmin;
}

.home-btn:active {
  background-image: url(./components/animation/assets/clicked.png);
  transform: translateY(0.4vmin);
  width: 7vmin;
  height: 6.3vmin;
  top: 2vw;
  left: 2.5vmin;
  background-repeat: no-repeat;
  margin-top: 2vw;
  margin-left: 2.5vmin;

  cursor: pointer;
  background-color: transparent;
  padding-top: 5vw;
}

/*---------------------*/

.canvas {
  position: absolute;
  z-index: -10000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #215eda;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
