.generic {
  display: grid;
  grid-area: main;
  place-self: stretch;
}

.GridLayout {
  display: grid;
  grid-template-columns: [vstart] 15% [v1] auto [v2] 15%[vend];
  grid-template-rows: [hstart] 20% [h1] auto [h2] 20% [hend];
  grid-template-areas:
    "corner1 top corner2"
    "left main right"
    "corner3 bottom corner4";
  width: 100vw;
  height: 100vh;
}

/*Main grid layout*/
.MainLayout {
  grid-area: main;
}

/*home page layout*/
.main {
  display: grid;
  grid-area: main;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "main1"
    "main2"
    "main3";
}

.WorkInput {
  grid-area: main1;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.BreakInput {
  grid-area: main2;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.startBttn {
  grid-area: main3;
  text-align: center;
  align-self: center;
  justify-self: center;
}

/*---------------------*/

/*Countdown Display*/
.CountdownWrapper {
  display: grid;
  grid-area: main;
  place-self: stretch;

  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "main1"
    "main2";
}

.pauseBttn {
  grid-area: main2;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.countdownDisplay {
  grid-area: main1;
  text-align: center;
  align-self: center;
  justify-self: center;
}
/*---------------------*/

/*Settings*/
.Settings {
  display: grid;
  grid-area: corner2;
  place-self: stretch;
}
/*---------------------*/

/* Animation*/
.AnimationController {
  display: grid;
  grid-area: left;
  align-self: center;
}

/*---------------------*/

/*prompt*/
.intermission {
  display: grid;
  /*width: 100vw;
  height: 100vh;*/
  grid-area: main;
  place-self: stretch;

  /*position: fixed;
  overflow: hidden;*/

  /*place-self: stretch;*/
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "prompt"
    "cat";
}

.prompt {
  grid-area: prompt;

  /*margin-top: 5vw;*/

  text-align: center;
  align-self: center;
  justify-self: center;
  /*place-self: stretch;*/
}

.promptText {
  font-size: 4vmin;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
}

.cat {
  grid-area: cat;
  text-align: center;
  align-self: start;
  justify-self: center;
  place-self: stretch;
}

.catGif {
  place-self: center;
  height: 35vh;
}

.full_cat {
  grid-area: cat;
}

.fullcatGif {
  object-fit: contain;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
/*---------------------*/

/* home button*/
.home-btn-con {
  display: grid;
  grid-area: corner1;
  place-self: stretch;

  /*z-index: 1000001;*/
}

.home-btn {
  border: none;
  width: 7vmin;
  height: 6.3vmin;
  cursor: pointer;

  margin-top: 2vw;
  margin-left: 2.5vmin;

  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(./components/animation/assets/normal.png);
  background-size: contain;
}

.miniPrompt {
  position: relative;
  grid-area: corner1;
  text-align: center;
  margin-top: 10vmin;
  margin-left: 1.1vmin;
  width: 8.8vmin;
}

.miniP {
  margin-top: 0.4vmin;
  text-align: center;
  font-size: 3.5vmin;

  font-weight: normal;
  color: #828b93;
}

.home-btn:hover {
  background-image: url(./components/animation/assets/hover.png);
  width: 7vmin;
  height: 6.3vmin;
}

.home-btn:active {
  background-image: url(./components/animation/assets/clicked.png);
  transform: translateY(0.4vmin);
  width: 7vmin;
  height: 6.3vmin;
  top: 2vw;
  left: 2.5vmin;
  background-repeat: no-repeat;
  margin-top: 2vw;
  margin-left: 2.5vmin;

  cursor: pointer;
  background-color: transparent;
  padding-top: 5vw;
}

/*---------------------*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #B2C6B8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
